body, html {
  margin: 0;
  padding: 0;

  /* change color here for all elements, delete this 
 */
 background: rgb(244, 243, 243); 
}

/* src/Authentication/App.css */
.App {
  font-family: 'Arial', sans-serif;
}

